<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Hello Django</title>
</head>
<body>
	<h1>Another image</h1>
	<img src="{% static 'images/python_p.jpg' %}" alt="Python a highly expressive programming language">
	<!-- <h1>{{ header }}</h1>
	<p>Name: {{ user.name }} Age: {{ user.age }}</p>
	<p>Address: street {{ address.0 }}, b. {{ address.1 }}, ap. {{ address.2 }}</p>
	<p>Langs: {{ langs.0 }}, {{ langs.1 }}</p> -->
</body>
</html>